%table
  %tr
    %td
      %form{ :action => request_token_url, :method => :post }
        %input{ :type => :submit }
    %td
      =h  @request_token

  %tr
    %td
      == <a href="#{authorize_url}">#{authorize_url}</a>


# http://monk3shines.com/ext/twitter/cb?
#   oauth_token=7yWBEfwGDcjN0vLUQzijwr9ilgAncjneWvucec&
#   oauth_verifier=H1Ns7agS0ni2YW4XfYDYLOrfQ0QzuC51oJGKyfOBCQY
