!!! XML
!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet",    :type => "text/css" }
    %link{ :href => "/favicon.ico",                 :rel => "shortcut icon", :type => "image/x-icon" }

  %body
    #container
      =yield

      -# %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"      }
      -# %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/jquery-ui.min.js" }
