%style{ :type => 'text/css' }
  @import url('/stylesheets/layout.css');
  @import url('http://www.prefinery.com/stylesheets/widget.css');
  iframe#prefinery_iframe { height: 1200px; }

%p
  
  If your social media presence has more than a few hundred thousand fans,
  community management becomes a shot in the dark.

%p
  Monk3hines gives you tools to visualize and manage your communities, across
  Twitter, Myspace, Friendster, Facebook, Last.fm and more.
  
%p
  <a href='#' id='prefinery_invite_link'>Sign up for the beta now!</a>

%p
  <a href="/ext/twitter/auth">Test: twitter</a>

%script{ :type => 'text/javascript', :src => 'http://www.prefinery.com/javascripts/widget.js' }
%script{ :type => 'text/javascript', :charset => 'utf-8' }
  Prefinery.invite("http://infochimps.prefinery.com/betas/293/testers/new?display=popup");
  
